<h2><%= @user.full_name %></h2>
<h3>Email: <%= @user.email %></h3>
<h3>Phone #: <%= @user.phone_number %></h3>
<h3>Year: <%= @user.year %></h3>
<h3>Team: <%= @user.team %></h3>
<h3>Fun Fact: <%= @user.fun_fact %></h3>

<br/>
<br/>
Send SMS: <br/>
<%= form_for :sms, url: smses_path do |f| %>
  <%= f.hidden_field :to, value: @user.phone_number %>
  <%= f.text_field :body, id: "sms-body" %>
  <%= f.submit "Send" %>
<% end %>
